    html {
        scroll-behavior: smooth;
    }

    .navbar {
        background: rgba(0, 0, 0, 0.4);
        transition: 0.3s;
        background-color: #111 !important;
        transition: 0.3s;
    }

    .navbar.scrolled {
        background-color: #111 !important;
    }

    .hero {
        height: 100vh;
        background: url('../img/capa.jpg') center/cover no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .overlay {
        background: rgba(0,0,0,0.6);
        padding: 50px;
        border-radius: 15px;
    }

    .section-padding {
        padding: 100px 0;
    }

    .pix-card {
        background: linear-gradient(135deg, #f8f9fa, #ffffff);
    }
